*{
    margin:0;
    padding: 0;
}
ul,ol,dl{
    list-style:none;
}
img{
    display: block;
    border:0;
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
body,html{
    height:100%;
    font-size:26.67vw;
    background: #f4f5f9;
}
body{
    display: flex;
    flex-direction: column;
}
section{
    overflow-y: auto;
    flex: 1;
}
.head{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.09rem;
    height: 0.48rem;
    background-color: #ffeb5e;
    input{
        width:2.6rem;
        height:0.32rem;
        background: #f2f3f5 url(../img/search.png) 1rem center no-repeat;
        text-indent: 1.2rem;
        border:0;
        border-radius: 6px;
    }
}
.head-left,.head-right{
	display: flex;
	flex-direction:column;
    align-items: center;
    justify-content: space-around;
    color: #252317;
    font-weight: 900;
    height:100%;
    i{
        font-size: 0.2rem;
    }
    span{
        //margin-top:0.05rem;
    }
 }

//banner
.banner{
    width:100%;
    img{
        width: 100%;
    }
}

//nav
.nav-1{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0.14rem 0;
    background: #fff;
    li{
        text-align: center;
        img{
            width:0.48rem;
            height:0.48rem;
            margin:0 auto;
        }
    }
    span{
        font-size: 0.12rem;
        display: block;
        line-height: 0.26rem;
        color:#000;
    }
}

.class{
    background: #fff;
    width:100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 0 0.12rem;
    h3{
        font-size: 0.15rem;
        color:#0cb862;
    }
    p{
        line-height: 0.33rem;
        font-size: 0.12rem;
        color:#888888;
    }
    .class-2{
        a{
            height:0.6rem;
        }
    }
    li{
        width:50%;
        border-radius: 10px;
        box-sizing: border-box;
        padding:0 0.04rem;
        margin-bottom: 0.08rem;
        a{
           display: block;
            border-radius: 14px;
            height:1.2rem;
            padding-left: 0.13rem;
            padding-top:0.09rem;
        }
        .pic-1{
            background: #f7f7f7 url(../img/class-1.png) 12px 0.6rem no-repeat;
        }
        .pic-2{
            background: #f7f7f7 url(../img/class-2.png) 12px 0.6rem no-repeat;
        }
        .pic-3{
            background: #f7f7f7 url(../img/class-4.png) 1rem 0.08rem no-repeat;
        }
        .pic-4{
            background: #f7f7f7 url(../img/class-3.png) 1.2rem 0.08rem no-repeat;
        }
    }
}
.nav-2{
    border-top:1px solid #f0f0f0;
    padding-top:0.42rem;
    background:#fff url(../img/nav-2-bg.png) center 0.1rem no-repeat;
}
.tab{
    display: flex;
    border-bottom: 2px solid #e7e7e7;
    background: #fff;
    li{
        flex: 1;
        text-align: center;
        font-size: 0.16rem;
    }
    a{
        display: inline-block;
        font-size: 0.15rem;
        color:#1f1f1f;
        line-height: 0.43rem;
        padding:0 0.2rem;
  }
    .active{
        background: url(../img/tab-bg.png) center 0.4rem no-repeat;
    }
}
.list{
    display: none;
}
.active{
    display: block;
}
.box{
    margin-bottom:0.13rem;
    background: #fff;
}
.title{
    display: flex;
    height:0.73rem;
    align-items: center;
    .a-left{
        flex:1;
        i{
            font-size: 0.16rem;
            vertical-align: bottom;
        }
        img{
            width:0.4rem;
            height:0.4rem;
            float: left;
            border-radius:0.02rem;
            margin-left: 0.3rem;
            margin-right: 0.08rem;
        }
        .id{
            i{
                color:#4b87f7;
            }
            font-size: 0.12rem;
            color:#202020;
            font-weight: 700;
            float: left;
            margin-bottom: 0.06rem;
        }
        .time{
            font-size: 0.12rem;
            color:#888888;
            float: left;
            i{
                color:#20c634;
            }
        }
    }
    .a-right{
        flex:1;
        font-size: 0.15rem;
        color:#ff3f47;
        text-indent: 1.2rem;
    }
}
.pic-show{
    display: flex;
    margin-left:0.16rem;
    overflow-y: auto;
    img{
        width:1.16rem;
        height:1.16rem;
        margin-left:0.06rem;
    }
}
.infor{
    margin:0.15rem 0.2rem 0;
    padding-bottom: 0.2rem;
    font-size: 0.13rem;
    line-height:0.21rem;
    border-bottom:2px solid #e6e6e6;
}
.list-foot{
    font-size: 0.11rem;
    line-height: 0.45rem;
    padding:0 0.2rem;
    overflow: hidden;
}
.span-left{
    float: left;
    color:#3ba9e6;
}
.span-right{
    float: right;
    color:#8a8a8a;
}

.zone-title{
    width: 100%;
    height:0.5rem;
    background: url(../../dist/img/zone.png) center no-repeat;
    background-size: cover;
}
.connect{
    overflow:hidden ;
    padding: 0 0.15rem 0.15rem;
    height:0.46rem;
    .zone-left{
        display: block;
    }
    .zone-right{
        float: right;
        width:0.57rem;
        height:0.31rem;
        font-size: 0.14rem;
        background: #ffdd48;
        border-radius: 6px;
        text-align: center;
        line-height: 0.31rem;
    }
    .page-1{
        float: left;
        width:2rem;
        font-size: 0.14rem;
        color:#222;
    }
    .page-2{
        float:left;
        width:2rem;
        font-size: 0.12rem;
        line-height: 0.26rem;
        color:#999;
    }
    img{
        float: left;
        width:0.46rem;
        height:0.46rem;
        margin-right: 0.12rem;
    }
}
.foot{
    height:0.5rem;
    font-size: 0.12rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    border-top:2px solid #ccc;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position:relative;
    }
    .active{
        i{
            color:#ffda44;
        }
    }
    i{
        color:#303030;
        font-size: 0.2rem;
    }
    span{
        color:#333333;
    }
    .circle{
        position:absolute;
        bottom:0.15rem;
        display: inline-block;
        width:0.56rem;
        height:0.56rem;
        text-align: center;
        line-height: 0.56rem;
        border-radius: 50%;
        font-size: 0.4rem;
        background: #ffda44;
    }
    .circle-span{
        margin-top:0.25rem;
    }
}